@import "theme";

.wrapper {
  padding-top: spacing(2);
  padding-bottom: spacing(1);
  width: 100%;
}

.button {
  font-size: 16px;
  color: map-get($map: $accent, $key: textPrimary);
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 spacing(1);
  width: 100%;
  height: 62px;
  background-color: map-get($map: $accent, $key: primary);
  border-radius: 3px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.button:hover, .button:disabled {
  background-color: map-get($map: $accent, $key: secondary);
}

.button:disabled {
  cursor: not-allowed;
}

.button:not(:active) {
  background-color: map-get($map: $accent, $key: primary);
}