@import "theme";

.wrapper {
  background-color: map-get($map: $accent, $key: bgPrimary);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.formWrapper {
  @extend .shadow;
}

