@import "../authorization/authorization.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}