@import "theme";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.text {
  font-size: 16px;
  color: map-get($map: $accent, $key: primary);
  line-height: 1.4;
  cursor: pointer;
}
