@import "theme";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.title {
  font-size: 30px;
  color: map-get($map: $accent, $key: secondary);
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
}