@import "theme";
.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  margin-top: spacing(1);
  align-self: start;
}

.checkbox {
  display: none;
}

.label {
  font-size: 16px;
  color: #999;
  width: auto;
  display: flex;
  flex-direction: row;
}

.fakeCheckbox {
  height: 18px;
  width: 18px;
  border: 2px solid map-get($map: $accent, $key: primary);
  position: relative;
  background-color:map-get($map: $accent, $key: bgPrimary);
  border-radius:2px;
  padding:3px;
  margin-right: spacing(1);
  color: map-get($map: $accent, $key: primary);
  display: flex;
  justify-content: center;
  align-items: center;

}
[type=checkbox]:checked + .fakeCheckbox:before {
  content: '\2713';
  position: absolute;
  // top: -6px;
  // left: 1px;
  font-size:17px;
  color: map-get($map: $accent, $key: primary);
  font-weight: 600;
}
